<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mamton.testapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.yandex.permission.READ_CREDENTIALS" />

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".gui.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        provider android:name=".VoultingContentProvider"
            android:authorities="voultingData"
            android:enabled="true" android:exported="true">
            <meta-data android:name="VoultingContentProvider"/>
        </provider
        -->
        <activity android:name=".gui.dict.DictionaryItemListActivity"
            android:label="@string/title_dictionaryitem_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".gui.dict.DictionaryItemDetailActivity"
            android:label="@string/title_dictionaryitem_detail"
            android:parentActivityName=".gui.dict.DictionaryItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mamton.testapp.gui.dict.DictionaryItemListActivity" />
        </activity>
    </application>

</manifest>